@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

header{
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    background-color: #f1f1f1;
    padding: 20px;
}
ul {
    font-family: 'Noto Sans KR', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
}
ul:after{
    content: '';
    display: block;
    clear: both;
}
#code{
    color: white;
    float: right;
    text-align: right;
    padding: 12px 12px 12px 12px
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active){
    background-color: rgb(43, 105, 69);

}

.active{
    background-color: #4CAF50;
}